
* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  padding: 20px;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.left {
  width: 50%;
  height: 100%;
}